<!-- <li>
    <a href="#实用软件" class="smooth">
        <i class="icon-desktop"></i>
        <span class="title">实用软件</span>
    </a>
</li> -->
<% let icos = ["icon-cloud", "icon-music", "icon-search", "icon-mail", "icon-heart", "icon-star", "icon-user", "icon-videocam", "icon-camera", "icon-photo", "icon-attach", "icon-lock", "icon-eye", "icon-fire", "icon-pencil", "icon-comment", "icon-location", "icon-cup", "icon-note", "icon-desktop"]; %>
<% dataJson.forEach(category => { %>
<li>
    <% let index = Math.floor((Math.random()*icos.length)); %>
    <a href="#<%= category %>" class="smooth">
        <i class="<%= icos[index] %>"></i>
        <span class="title"><%= category %></span>
    </a>
</li>
<% }) %>
<li class="submit-tag">
    <a href="/about">
        <i class="icon-heart"></i>
        <span class="title">关于本站</span>
    </a>
</li>